doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')

  body(style="background-color: #AFB0B2;")
    dif.col-lg-5.background-image(style="background-image: url('/bgsm-t.png'); background-size: contain; background-repeat: no-repeat; background-position: bottom;  height: 100vh;")
    div.col-lg-6
        img(src="logo.svg", alt="")
        //- h1.text-center.mb-4 Visit Us
        div.form-wrapper
          div.mb-3
              a.btn.btn-primary(href="/register")
                  span= "Schedule new Appointment" 
          div.mb-3
              a.btn.btn-secondary(href="/check")
                  span= "Check Appointment" 